:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

h1 {
    font-size: 20px;
    color: var(--dark-blue);
    background-color: var(--white);
}

img {
    display: block;
    border-radius: 12px;
}

body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 13px;
    border-radius: 12px;
    align-items: center;

}

.text {
    text-align: center;
    padding: 20px;
    width: 300px;
    background-color: var(--white);
}

.text p {
    background-color: var(--white);
    padding: 15px 0px 0px;
    font-weight: 400;
}


.attribution {
    font-size: 15px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}